altgraph==0.17
baostock==0.8.8
certifi==2020.6.20
chardet==3.0.4
cssselect==1.1.0
Cython==0.29.21
easyquotation==0.7.4
easyutils==0.1.7
idna==2.10
loguru==0.5.3
lxml==4.6.1
macholib==1.14
notify-py==0.3.0
numpy==1.19.3
pandas==1.1.3
peewee==3.13.3
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pyqtgraph==0.11.0
pyquery==1.4.1
PySide2==5.15.1
python-dateutil==2.8.1
pytz==2020.1
QtPy==1.9.0
requests==2.24.0
shiboken2==5.15.1
six==1.15.0
tinyaes==1.0.1
urllib3==1.25.11
