altgraph==0.17
baostock==0.8.8
certifi==2020.11.8
chardet==3.0.4
Cython==0.29.21
idna==2.10
loguru==0.5.3
macholib==1.14
notify-py==0.3.0
numpy==1.19.4
pandas==1.1.4
peewee==3.14.0
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pyqtgraph==0.11.0
PySide2==5.15.2
python-dateutil==2.8.1
pytz==2020.4
QtPy==1.9.0
requests==2.25.0
shiboken2==5.15.2
six==1.15.0
tinyaes==1.0.1
urllib3==1.26.2
